@use '../../../classes/size.scss' as *;


.home-project-button {
    width: 30%;
    $width-breakpoints: (
        lg: 100%
    );

@include responsive-width($width-breakpoints, "max-width")
}

.home-project-select {
    width: 60%;
    $width-breakpoints: (
        md: 100%
    );

@include responsive-width($width-breakpoints, "max-width")
}

.home-project-input {
    width: 80%;
    $width-breakpoints: (
        md: 100%
    );

@include responsive-width($width-breakpoints, "max-width")
}