@use "../../../index.scss" as *;

.spacebar-spotlight-container {
    display: flex;
    flex-direction: row;
    gap: 5%;
    align-items: center;

    @include media('xl', 'max-width') {
        flex-direction: column;
        align-items: start;
    }
}

.spacebar-spotlight-container-img {
    width: 100%;
    height: 110vh;
    overflow: hidden;
}