@use "../../classes/size.scss" as *;
@use "../../index.scss" as *;

.spacebar-carousel-image-container {
    white-space: wrap;
    width: 400px;

    @include media('md', 'max-width') {
        width: 70%;
    }
}

.spacebar-carousel-image-container div {
    height: 425px;
    width: inherit;
    overflow: hidden;

    @include media('md', 'max-width') {
        height: 325px;
        width: 100%;
    }
}

.spacebar-carousel-image-container img {
    object-fit: cover;
    height: inherit;
    width: 100%;
    transition: all .3s ease;
}

.spacebar-carousel-image-container img:hover {
    transform: scale(1.1);
}