@use "../../classes/size.scss" as *;

.spacebar-carousel-image-container {
    white-space: wrap;
    width: 400px;

    $width-breakpoints: (
        sm: 100%
    );

@include responsive-width($width-breakpoints, "max-width")
}

.spacebar-carousel-image-container div {
    height: 425px;
    width: inherit;
    overflow: hidden;
}

.spacebar-carousel-image-container img {
    object-fit: cover;
    height: inherit;
    width: inherit;
    transition: all .3s ease;
}

.spacebar-carousel-image-container img:hover {
    transform: scale(1.1);
}