$spacers: (
    0: 0,
    xs: 0.25rem,
    sm: 0.5rem,
    md: 1rem,
    lg: 1.5rem,
    xl: 2rem,
    xxl: 3rem,
    xxxl: 6rem
);

$directions: (
    t: top,
    b: bottom,
    l: left,
    r: right
);

@each $key, $size in $spacers {

    .m-#{$key} {
        margin: $size !important;
    }

    .p-#{$key} {
        padding: $size !important;
    }

    @each $short, $dir in $directions {
        .m#{$short}-#{$key} {
            margin-#{$dir}: $size !important;
        }
    }

    @each $short, $dir in $directions {
        .p#{$short}-#{$key} {
            padding-#{$dir}: $size !important;
        }
    }
}