.spacebar-button {
    position: relative;
    padding: .05rem 1.5rem 0;
    border: .1rem solid black;
    background-color: transparent;
    color: inherit;
    border-radius: 1.6rem;
    line-height: 1.8rem;
    text-transform: uppercase;
    z-index: 999;
    overflow: hidden;
    font-size: 20px;
    cursor: pointer;
}

.spacebar-button::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0%;
    background: var(--spacebar-black);
    z-index: -1;
    transition: height 0.3s ease;
}

.spacebar-button:hover::after {
    height: 100%;
}

.spacebar-button:hover {
    color: var(--spacebar-white);
}