@use "./index.scss" as *;
@use "./components/Header/Header.scss" as *;


.background-effect {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1;
}

.loading-page-container::after,
.background-effect::after {
  position: absolute;
  top: -10rem;
  left: -10rem;
  width: calc(100% + 20rem);
  height: calc(100% + 20rem);
  animation: noise 1s steps(2) infinite;
  background-image: url(https://imagedelivery.net/l-nGdq_yShSgiYDSPwYs7A/0b0093a4-a2fe-41f6-6d7f-2cc139046000/public);
  background-position: 50%;
  content: "";
  will-change: transform
}

@keyframes noise {
  0% {
    transform: translate3d(0, 9rem, 0)
  }

  10% {
    transform: translate3d(-1rem, -4rem, 0)
  }

  20% {
    transform: translate3d(-8rem, 2rem, 0)
  }

  30% {
    transform: translate3d(9rem, -9rem, 0)
  }

  40% {
    transform: translate3d(-2rem, 7rem, 0)
  }

  50% {
    transform: translate3d(-9rem, -4rem, 0)
  }

  60% {
    transform: translate3d(2rem, 6rem, 0)
  }

  70% {
    transform: translate3d(7rem, -8rem, 0)
  }

  80% {
    transform: translate3d(-9rem, 1rem, 0)
  }

  90% {
    transform: translate3d(6rem, -5rem, 0)
  }

  to {
    transform: translate3d(-7rem, 0, 0)
  }
}

.app-container {
  padding: $header-height 6% 0px 6%;
  box-sizing: border-box;

  @include media('lg', 'max-width') {
    padding: $header-height 6% 0px 6%,
  }

  @include media('md', 'max-width') {
    padding: $header-height 5% 0px 6%,
  }
}

.footer-container {
  padding: 5% 15%;

  @include media('xxxl', 'max-width') {
    padding: 5% 15%,
  }

  @include media('lg', 'max-width') {
    padding: 5% 10%,
  }

  @include media('md', 'max-width') {
    padding: 5% 5%,
  }
}

.header-container {
  padding: 1% 2%;

  @include media('md', 'max-width') {
    padding: 2% 4%,
  }

  @include media('sm', 'max-width') {
    padding: 3% 5%,
  }
}