@use "sass:map";

video::-webkit-media-controls {
  display: none !important;
}

:root {
  --color-text: #111;
  --color-muted: #666;

  --spacebar-black: #242323;
  --spacebar-white: #ffffff;
  --spacebar-gray: lightgray;

  --spacebar-red: #FF2C2C;
}

$breakpoints: (
  sm: 480px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1600px,
  xxxl: 1920px
);

.spacebar-black-background {
  background-color: var(--spacebar-black);
  color: var(--spacebar-white);
}

.spacebar-white-font {
  color: var(--spacebar-white) !important;
}

.spacebar-black-font {
  color: var(--spacebar-black) !important;
}

.spacebar-muted-font {
  color: var(--color-muted);
}

.spacebar-error {
  color: var(--spacebar-red) !important;
}

.space-gray-background {
  background-color: var(--spacebar-gray);
}

.transparent-background {
  background-color: transparent;
}

.no-button {
  border: none !important;
  background: transparent !important;
}

.hero-abs-background {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  top: 0px;
  z-index: -1;
}

.visibility-hide {
  visibility: hidden;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

body {
  font-family: var(--font-body);
  font-size: var(--sb-base);
  line-height: var(--lh-body);
  color: var(--color-text);
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  overflow-wrap: anywhere;
}

@mixin media($breakpoint, $type: "min-width") {
  @if map.has-key($breakpoints, $breakpoint) {
    $breakpoint-value: map.get($breakpoints, $breakpoint);

    @if $type =="min-width" {
      @media (min-width: $breakpoint-value) {
        @content;
      }
    }

    @else if $type =="max-width" {
      @media (max-width: $breakpoint-value) {
        @content;
      }
    }

    @else {
      @warn "Invalid media query type: #{$type}. Use 'min-width' or 'max-width'.";
    }
  }

  @else {
    @warn "Invalid breakpoint: #{$breakpoint}.";
  }
}